.App {
  text-align: center;
  height: 100%;
}

html {
  height: 100%;
}

.backgroundImage {
  background-image: url(./assets/Icehockeylayout.svg);
  

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}